.header
{
  grid-area: header;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
}
.logo
{
  grid-area: logo;
  font-size: 50px;
  text-align: center;
  padding: 40px 0;;
}
.main
{
  grid-area: main;
  font-size: 25px;
  text-align: left;
  padding-bottom: 100%;
}
.grid-container
{
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'logo logo logo logo logo logo'
  'main main main main main main';
  gap: 10px;
}
.grid-container > div
{
  background-color: antiquewhite;
}
